.Rproj.user
.DS_Store
.Rhistory
GWAS/
SSwope_MillsCollege_Calochortus_20161021-01468/
soil_PCAs/
ncbi_dataset/
cati_soil_popgen.Rproj
CATI_NJT.R
Cati_soil_PCA.R
Cati_soil_PCA.qmd
random_forest.qmd
cati_map_w_soil_chem_plots_w_pic.pdf
Figure2_soil_subset_correlations.pdf
Cati High Res Rick York CNPS.JPG
